
body{
font-family: 'IBM Plex Sans', sans-serif;
  font-size:16px;
  font-weight: 300;
  line-height:30px;
}
nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.nav-wrapper{
    background-color:rgb(255,255,255);
   
}
nav ul a{
    color:black;
}
nav a{
    color:black;
}

/*@media screen and (max-width: 576px){
.jumbotron {
     padding-top:0; 
     padding-bottom:0;
}
.team_img{
  width:400px;
  height:250px;
}
}*/


.jumbotron{
    position: relative;
    z-index:-101;
    overflow: hidden;
  }
  #video-background { 
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width:100%;
  opacity: 0.9;
  height: auto;
 
}
/*.hang{
    position: relative;
    z-index:2;
    overflow: hidden;
  }*/
 #aboutUs{
     background-color: #dfdfdf
 }
 /*.chandShabd{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-column-gap: 50px;
    width:70vw;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
    padding-top:20px;
 }

    .chandShabd .t1{
      grid-column: 1/2;
      
      width: 390px;

    }*/
      .chandShabd img{
        position: relative;
        width:100%;
        overflow-y: hidden;
         height: 270px;
        border-radius: 6px;

      }  
     
    
    .chandShabd .t2{ 
    /*  grid-column: 2/4;*/
      text-align: left;}

    .chandShabd  .title{
        font-size : 30px;
        /*font-family: 'abril fatface';*/
      font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  line-height:30px;
      }
      .chandShabd .title:before{
        content:"";
        height:3px;
        width: 20%;
        position:absolute;
        margin-top: 2.5rem;
        margin-bottom: 4 rem;
        background-color: rgb(25,140,231);
        
      }
        .chandShabd .ori:before{
        content:"";
        height:3px;
        width: 36%!important;
        position:absolute;
        margin-top: 2.5rem;
        margin-bottom: 4 rem;
        background-color: rgb(25,140,231);
        
      }
       .chandShabd .ori :before{
        content:"";
        height:3px;
        width: 30%;
        position:absolute;
        margin-top: 2.5rem;
        margin-bottom: 4 rem;
        background-color: rgb(25,140,231);
        
      }
     .chandShabd .desc{
        font-size : 20px;
        margin-top: 15px;
      font-family: 'IBM Plex Sans', sans-serif!important;
       /*font-family: 'Playfair Display', serif;*/
        
  font-weight: 300;
  line-height:30px;
      }
    
  
.tag{
  font-family: 'IBM Plex Sans', sans-serif;
}
 
 /*.footer{
     background-color: rgb(34,34,34)
 }
 .footer-heading {
     color:#ffffff
 }
 .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}*/
.t1 .image{

    box-shadow: 3px 4px 5px rgba(34, 34, 34, 0.1);
}
.pro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    width:50vw;
   
    
    margin: auto;
   /* margin-bottom: 50px;*/
    overflow: hidden;
     box-sizing: border-box;
     align-items: center;
    /* background-color:rgb(239,240,241)*/
}

    .pro .p{
      grid-column-start: auto;
     grid-column-end:auto;

    }
     .pro .q{
      grid-column-start: auto;
     grid-column-end:auto;

    }
    .pro .o{
      grid-column-start: auto;
     grid-column-end:auto;

    }
    .pro img{
      display:inline-block;
    width:100%;
    height:100%;
    min-height:251.23px;
    border-radius:5px;

    }
   
.card{

  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);

    box-shadow: 0 5px 15px rgba(0,0,0,0);
}
.container{
  padding-right:0px;
   margin-right:0px;
  margin-right:0px;

}
.teamHeading{
  /*background-color:rgb(25,140,231);*/
  border-radius:15px;
  color:black;
  text-align:center;
  justify-content:center;
  width:40%!important;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-weight:500!important;
 
}
.team .row{
  display:flex;
  width: fit-content;
  flex-wrap: wrap;
  margin:auto 0;
}
/*.teamHeading:before {
    content:"";
    background-color:rgb(25,140,231);
    position: absolute;
    height: 3px;
    width:139%;
    left: -30%;
    z-index: -1;
    margin-top:20px;
}*/
.aboutLine{
  float:right;
  background-color:rgb(25,140,231);
  height:15px;
  width:25px;
  border-radius:15px;
  

}
 .col12{
  max-width:25px;
}
/*.We{
  background-color:rgb(88,195,241);
  border-radius:15px;
  color:#ffffff;
  text-align:center;
  width:100%;
  height:80px;
  margin-top:20px;
  }
  .We:before {
    content:"";
    background-color:rgb(88,195,241);
    position: absolute;
    height: 3px;
    width:139%;
    left: -30%;
    z-index: -1;
    margin-top:40px;
}

 */
 .site-footer{
   background-color:rgb(34,34,34);
   color:rgb(131,132,131) ;
 }
 .site-footer a{
   color:rgb(131,132,131)!important;
 }
 .site-footer a:hover {
    color: #0056b3 !important;
    text-decoration: underline;
}
.site-footer h2{
  font-size:1rem!important;
   color:rgb(201,201,201)!important ;
font-family: 'M PLUS Rounded 1c', sans-serif;
}
.site-footer p{
   font-size:1rem!important;
}

.site-footer hr {
      border-top: 1px solid rgba(201,201,201,0.1)!important;
}
  
.We{
  /*background-color : rgb(25,140,231);*/
  color: black;
  width:90%;
  height:75px;
  border-top-right-radius: 47%;
  border-bottom-right-radius: 47%;
   border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;

}
.We .section-title{
  text-align:center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /*font-size: 40px;*/
  color:rgb(25,140,231);
  /*font-family: 'IBM Plex Sans', sans-serif;*/

}

.container-fluid{
  width:90%!important;
}
.pro .card-title {
    margin-bottom: 2rem;
    font-size:1.5rem;
    font-weight:400;
    
}

.team .teamHeading  {
border-bottom: 2px solid  rgb(25,140,231);
margin-bottom: 3rem;
border-radius:0;


}


.pro .card-body{
  padding-left:0;
  padding-right:0;
}
 /*.events .title{
        border-bottom: 2px solid  rgb(25,140,231);
        margin-left: 3rem;
        
      }*/
      .events{
        font-size: 35px;
        width:40%;

      }
      .events .title{
         font-family: 'M PLUS Rounded 1c', sans-serif;
         color: rgb(25,140,231);
         width:100%!important;
      }
     .gPic {
      display:inline-block;
    width:100%;
    height:100%;
    border-radius:5px;
       
      }


