.chandShabd .t2{ 
  text-align: left;}

.chandShabd  .title{
    font-size : 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    line-height:30px;
  }
.chandShabd .title:before{
  content:"";
  height:3px;
  width: 20%;
  position:absolute;
  margin-top: 2.5rem;
  margin-bottom: 4 rem;
  background-color: rgb(25,140,231);
  
}
.chandShabd .desc{
  font-size : 20px;
  margin-top: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  line-height:30px;
}

